:root{
    --mainBackground: #264653;
    --mainText: #fefae0;
    --mainLinks: #fb8500;
}


a{
    color: var(--mainLinks);
}
.btn{
    background-color: var(--mainBackground);
    color: var(--mainText);
}

.col{
    padding-bottom: 10px;
}

#landingJumbo{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--mainBackground);
    color: var(--mainText);
}

section {
    min-height: 110vh;
}

.default{
    padding-bottom: 10px;
    margin: 0;
}

/* IMAGE STYLING */
.models{
    max-height: 400px;
    max-width: 650px;
}
.code{
    max-height: 550px;
    max-width: 850px;
}



.container{
    padding-bottom: 10px;
}

.hide{
    display: none;
}

.modelBut:hover,
.owBut:hover,
.configBut:hover,
.gmBut:hover,
.dbBut:hover,
.structBut:hover{
    background-color: var(--mainBackground);
    color: var(--mainText);
}

.loaded{
    background-color: var(--mainBackground);
    color: var(--mainText);
}

h2, h3{
    border-bottom: 2px solid black;
    padding: 20px;
}

